body{
    font-family:'Trebuchet MS',sans-serif;
    background-color:#eef5ff;
}
header{
    background-color:#1e3a8a;
    color:white;
    padding:20px;
    border-radius:20px;
    text-align:center;
}

.nav-links{
    display:flex;
    justify-content:center;
    gap:50px;
}

.nav-links a{
    color:white;
    font-size:20px;
    text-decoration:none;
}

footer{
    background:#1e3a8a;
    color:white;
    padding:15px;
    margin-top:30px;
    text-align:center;
}
section{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:15px;
}

table{
    background:white;
    margin:auto;
    width:80%;
}

form{
    background:white;
    width:50%;
    margin:auto;
    padding:20px;
    border-radius:15px;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;
    border-radius:20px;
}

#my-name{
    font-size:45px;
}

nav a{
    color:white;
    font-size:20px;
}

h2{
    color:#1e3a8a;
    font-size:35px;
}

.skill-list{
    color:#000000;
    font-size:22px;
}

table{
    background:white;
    margin:auto;
    width:80%;
}

th{
    background:#1e3a8a;
    color:white;
}

td{
    background:#f8fafc;
}

th,td{
    padding:15px;
}

form{
    background:white;
    width:50%;
    margin:auto;
    padding:20px;
    border-radius:15px;
}

#contact{
    text-align:left;
}

form{
    width:40%;
    margin-left:20px;
    margin-right:auto;
    background:white;
    padding:20px;
    border-radius:15px;
}

textarea{
    width:90%;
    padding:10px;
    border-radius:8px;
}

footer{
    background:#1e3a8a;
    color:white;
    padding:15px;
    margin-top:30px;
}
